
$theme: #7993fb;

$gray9:#999;

$gray6:#666;

$gray3:#333;

$white:#fff;

$textBackgroundGray:#f2f2f2;

$textBackgroundGray3:#333;

$textBackgroundGray6:#666;

$textBackgroundGray9:#999;

$borderColor:#ccc;

$isAttentionColor:#e4393c;
